@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-bgPrimary;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
